body {
	margin-left: 40px;
	margin-right: 40px;
}
div#HOSTNAME {
	background-color: #d9d9d9;
}
div#IP {
	color: black;
}
div#CPU {
	background-color: #d9d9d9;
}
/* div.pcItem:nth-child(2n) {
	background-color: #fafafa;
} */
/* div.pcItem:first-child {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
div.pcItem:last-child {
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
} */